@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --primary: #3d3d3d;
    --secondary: #1e1e1e;
    --tertiary: #273ac3;
    --hover: #929cf3;
    --gray: #6c6c6c;
}

h1 {
    font-size: 5em;
    display: flex;
    gap: .25em;
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 60px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Quicksand";
    background-color: var(--secondary);
}

.links {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 20px;
}

.link-container {
    padding: 1.5em;
    background-color: var(--primary);
    border-radius: .5em;
    box-shadow: 0 5px 0px #000;
    transition: box-shadow .5s ease, transform .4s ease, background-color .5s, width .3s;
}

.link-container:hover {
    box-shadow: 0 0 0 #000;
    background-color: var(--secondary);
    transform: translateY(5px);
    outline: 1px solid var(--primary);
}

.link-container:hover > .plus {
    background-color: var(--primary);
}

.links > .link-container > a {
    width: min-content;
    text-decoration: none;
    color: white;
    font-size: 2em;
    transition: text-decoration .5s, color .4s;
    position: relative;
}

.links > .link-container > a:hover {
    color: var(--hover);
}

.links > .link-container >  a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    border-radius: 2em;
    bottom: 0px;
    left: 0;
    background-color: var(--hover);
    transform-origin: bottom right; 
    transition: transform 0.25s ease-out;
}

.links > .link-container >  a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hidden {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

#repo-dropdown {
    user-select: none;
    padding: 0;
    list-style: none;
    background-color: var(--primary);
    font-size: 1.5em;
    border-radius: .3em;
}

#repo-dropdown > a {
    position: relative;
    line-height: 2.5em;
    width: min-content;
    text-decoration: none;
    box-sizing: border-box;
    z-index: 2;
}

#repo-dropdown > a > li {
    padding: 5px 20px;
    display: block;
    color: white;
    border-radius: .3em;
    position: relative;
    z-index: 1;
    transition: background-color .3s;
}

#repo-dropdown > a > li::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--hover);
    z-index: -1;
    transition: width 0.3s ease;
}

#repo-dropdown > a:first-child > li::before {
    border-radius: .3em .3em 0 0;
}

#repo-dropdown > a:last-child > li::before {
    border-radius: 0 0 .3em .3em;
}

#repo-dropdown > a > li:hover::before {
    width: 100%;
}

.shown {
    position: absolute;
    width: max-content;
    height: max-content;
    opacity: 1;
}

.plus {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--gray);
    border-radius: .2em;
    margin: 0;
    padding: 3px;
    transition: background-color .3s;
}

#mods {
    display: flex;
    gap: 10px;
    align-items: center;
}

#nameInput {
    color: white;
    font-size: 50px;
    padding: 0 0 0 30px;
    margin: 0;
    width: 5.5em;
    background-color: var(--secondary);
    opacity: 1;
    border: 2px solid #ffffff;
    border-radius: .3em;
    transition: border .4s, width 1s ease, opacity 2s;
}

#nameInput:focus {
    outline: none;
    border: 2px solid #ee9d2c;
}

#nameInput.shrink {
    width: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.typing {
    display: inline-block;
    border-right: 2px solid #eaeaea;
    height: 30%;
    animation: blink 0.8s steps(1) infinite;
}

@keyframes blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: #eaeaea; }
}