@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gray-but-more-blue: #313945;
    --hover-font: #c2c2c2;
    --background: #232323;
    --light-blue: #0393d6;
    --secondary: #f3af31;
    --cozy-gray: #32333d;
    --primary: #2690ec;
    --orange: #f38632;
    --hover: #124674;
    --gray: #2c2d34;
}

.cookie-popup {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, .5);
    background-color: rgba(0, 0, 0, 0.6);
    transform: translate(-50%);
    backdrop-filter: blur(4px);
    flex-direction: column;
    transition: width .5s;
    align-items: center;
    border-radius: .5em;
    text-align: center;
    position: fixed;
    bottom: 2em;
    left: 50%;
    width: 25vw;
    color: #fff;
    padding: 15px;
    z-index: 1000;
    display: none;
}

@media screen and (max-width: 750px) {
    .cookie-popup {
        width: 50vw;
    }
}

.cookie-popup button {
    background-color: #ffad3b;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    border: none;
    width: 50%;
}

.cookie-popup button:hover {
    background-color: #ff9200;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-body {
    background-color: var(--background);
    font-family: "Quicksand";
    transition: padding .2s;
    box-sizing: border-box;
    flex-direction: column;
    padding: 1em 7vw;
    color: white;
    display: flex;
    margin: 0;
    gap: 1em;
    opacity: 1;
}

.main-container {
    background-color: var(--gray);
    flex-direction: column;
    border-radius: .4em;
    display: flex;
    height: 100%;
    width: 100%;
}

.navigation > ul {
    list-style-type: none;
    font-size: 1.3em;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar {
    filter: drop-shadow(0px 3px 4px black);
    -webkit-user-select: none;
    justify-content: center;
    -moz-user-select: none;
    user-select: none;
    position: sticky;
    display: flex;
    z-index: 100;
    width: 100%;
    top: 1em;
}

.navigation {
    background-color: var(--primary);
    justify-content: center;
    border-radius: .65em;
    display: flex;
}

.navigation > ul > li {
    transition: background-color .2s;
    border-radius: .5em;
    padding: 1.2em 2em;
    cursor: pointer;
}

.navigation > ul > li:hover {
    background-color: var(--hover);
    border-radius: .5em;
}

.navigation > ul > li:last-child {
    border-radius: .5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.navigation > ul > li:first-child {
    border-radius: .5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.navigation > ul > li:last-child:hover {
    background-color: var(--hover);
}

.navigation > ul > li:not(:last-child):not(:first-child) {
    border-radius: 0;
}

.header {
    -webkit-user-select: none;
    justify-content: center;
    -moz-user-select: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    user-select: none;
    display: flex;
}

.img-container {
    justify-content: center;
    background-size: cover;
    align-items: center;
    border-radius: .5em;
    overflow: hidden;
    display: flex;
    height: 90vh;
    width: 100%;
}

.img-container > img {
    filter: blur(10px);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-container::after {
    backdrop-filter: contrast(110%) brightness(75%) opacity(60%);
    border-radius: .4em;
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    right: 0;
    top: 0;
}

.title {
    font-family: "Saira", sans-serif;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.title > h1 {
    filter: drop-shadow(3px 3px 3px black);
    font-size: clamp(4rem, 10vw, 10rem);
    font-family: "Saira", sans-serif;
    text-align: center;
    line-height: 12rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.title > .description {
    filter: drop-shadow(3px 3px 3px black);
    font-family: "Quicksand", sans-serif;
    word-break: keep-all;
    word-wrap: normal;
    font-size: 2rem;
}

.title > .install {
    transition: outline .2s, background .2s, color .3s, font-size .3s;
    background-color: var(--primary);
    font-family: "Saira", sans-serif;
    padding: .9em 1.875em;
    justify-self: center;
    border-radius: .4em;
    margin: 1.25em auto;
    width: max-content;
    align-self: center;
    font-size: 26px;
}

.title > .install:hover {
    font-family: "Saira", sans-serif;
    background-color: var(--hover);
    color: var(--hover-font);
    font-size: 28px;
    cursor: pointer;
}

.main {
    height: max-content;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu-icon {
    background-color: var(--primary);
    justify-content: center;
    align-items: center;
    border-radius: .4em;
    position: relative;
    display: none;
}

.hidden {
    display: none;
}

.navigation.open {
    position: absolute;
    display: flex;
    left: 5.5em;
}

.navigation.open > ul {
    flex-direction: column;
}

.navigation.open > ul > li {
    transition: background-color .2s;
    border-radius: .4em;
    padding: 1.2em 2em;
    cursor: pointer;
}


.navigation.open > ul > li:hover {
    background-color: var(--hover);
}

.navigation.open > ul > li:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.navigation.open > ul > li:first-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.navigation.open > ul > li:last-child:hover {
    background-color: var(--hover);
}

.navigation.open > ul > li:not(:last-child):not(:first-child) {
    border-radius: 0;
}

.mobile {
    content: url("/styles/menu-icon-new.svg");
    margin: 0 10px;
    height: 2.7em;
    padding: 10px;
    width: 3em;
}

.introduction-container {
    flex-direction: row;
    display: flex;
    padding: 10px;
    gap: 3em;
    margin: 2em;
    margin-bottom: 3em;
}

.introduction-description {
    font-size: clamp(1.3em, 2vw, 2em);
    margin-top: .5em;
    display: flex;
    gap: 1em;
    flex: 1;
}

.introduction-description > p {
    max-width: 30em;
    position: relative;
    text-align: justify;
}

.introduction-description > p:first-child {
    width: 50%;
}


.introduction-description > p:last-child {
    align-self: end;
    width: 50%;
}


.introduction-description > p::after {
    background-color: var(--light-blue);
    border-radius: .5em;
    position: absolute;
    right: -30px;
    content: '';
    height: 4px;
    width: 35px;
    top: -10px;
}

.introduction-description > p::before {
    background-color: var(--light-blue);
    border-radius: .5em;
    position: absolute;
    height: 35px;
    right: -20px;
    content: '';
    width: 4px;
    top: -20px;
}

.introduction-title {
    background: linear-gradient(to right, var(--secondary), var(--orange));
    font-size: clamp(1em, 2vw, 1.5em);
    align-self: baseline;
    color: var(--background);
    margin: 20px;
    border-radius: .3em;
    position: absolute;
    width: max-content;
    line-height: .2em;
    padding: .5em;
    bottom: -2em;
}

@media screen and (max-width: 600px) {
    .main-body {
        padding: 1em 0;
    }

    .navbar {
        justify-content: start;
    }

    .description {
        margin: 0 20px;
    }
}

@media screen and (max-width: 710px) {
    .introduction-description {
        flex-direction: column;
        gap: .5em;
    }

    .introduction-description > p:last-child {
        align-self: auto;
        width: 100%;
    }

    .introduction-description > p:first-child {
        width: 100%;
    }
    
}

@media screen and (max-width: 2100px) {
    .introduction-container {
        flex-direction: column;
    }

    .version-req {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 410px) {
    .mobile {
        height: 1.2em;
        width: auto;
        aspect-ratio: 1/1;
    }

    .navigation.open {
        font-size: .650em;
    }
}

.slider-wrapper {
    max-width: clamp(50em, 2vw, 20em);
    border: solid 3px transparent;
    background: var(--gray);
    border-radius: .5rem;
	position: relative;
    text-align: end;
}

.slider {
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border: 3px solid var(--orange);
	scroll-snap-type: x mandatory;
	-ms-overflow-style: none; 
	scroll-behavior: smooth;
	border-radius: 0.5rem;
	scrollbar-width: none; 
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	display: flex;
    padding: 5px;
    z-index: 0;
}

.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	scroll-snap-align: start;
	flex: 1 0 100%;
	object-fit: cover;
}

.slider-nav a {
	transition: opacity ease 250ms;
	background-color: #fff;
	border-radius: 50%;
	height: 0.5rem;
	width: 0.5rem;
	opacity: 0.75;
}

.slider-nav a:hover {
	opacity: 1;
}

.compatibility-container {
    background-color: var(--gray-but-more-blue);
    padding: 2em clamp(1em, 2vw, 15em);
    flex-direction: column;
    border-radius: .4em;
    position: relative;
    margin-top: 0;
    display: flex;
    z-index: 2;
    gap: 1em;
}

.compatibility-title {
    background: linear-gradient(to bottom, var(--orange), var(--secondary));
    font-size: clamp(.7em, 2dvw, 1.7em);
    color: var(--background);
    border-radius: .3em;
    position: relative;
    width: max-content;
    align-self: center;
    position: absolute;
    line-height: .2em;
    padding: .5em;
    top: -1.20em;
}

.compatibility-title > h2 {
    padding: 0;
    margin: 10px;
}

.compatibility-description {
    font-size: clamp(1.3em, 2vw, 1.7em);
    flex-direction: column;
    margin-bottom: 2em;
    width: fit-content;
    display: flex;
    flex: 1;
}

.intro-table {
    justify-content: center;
    align-self: center;
    display: flex;
}

.excel-table {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid #2c2c2c;
    background-color: #1e1e1e;
    border-radius: .4em;
    table-layout: auto; 
    border-spacing: 0;
    overflow: hidden;
    display: table; 
}

.header-row, .row {
    display: table-row; 
}

.cell {
    font-size: clamp(.6em, 2vw, 0.875em);
    border: 1px solid #2c2c2c;
    box-sizing: border-box;
    display: table-cell;
    white-space: nowrap; 
    text-align: center;
    color: #e0e0e0;
    overflow: hidden;
    min-width: 80px; 
    padding: 16px;
}

.cell-header {
    min-width: clamp(35px, 2vw, 70px);
    background-color: #333333;
    width: min-content;
    font-weight: bold;
    color: #e0e0e0;
}

.corner {
    background-color: #444444;
}

.row .header {
    background-color: #333333;
    font-weight: normal;
    color: #a0a0a0;
}

.cell:nth-child(even) {
    background-color: #2a2a2a;
}

.cell:nth-child(odd) {
    background-color: #252525;
}

.cell:hover {
    background-color: #444444;
}

@media screen and (max-width: 525px) {
    .intro-table {
        width: 0;
        height: 0;
        display: none;
    }
}

codelink {
    background-color: var(--orange);
    text-decoration: underline;
    transition: background .3s;
    color: var(--background);
    white-space: nowrap;
    border-radius: .3em;
    cursor: pointer;
    padding: .25em;
}

code {
    background-color: var(--background);
    border-radius: .3em;
    cursor: pointer;
    padding: .25em;
}

.tooltip {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.8);
    font-family: "Quicksand", serif;
    pointer-events: none; 
    white-space: nowrap;
    position: absolute;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    display: none;
    z-index: 1000;
}

.excel-table:last-child {
    width: 25%;
}

.version-req {
    display: flex;
    gap: 2em;
}

.download-container {
    padding: 2em clamp(1em, 2vw, 15em);
    transform: translate(0, -10px);
    flex-direction: column;
    border-radius: .4em;
    margin-bottom: 1em;
    position: relative;
    margin-top: 0;
    display: flex;
    z-index: 1;
    gap: 1em;
}

.download-title {
    background: linear-gradient(to bottom, var(--orange), var(--secondary));
    font-size: clamp(.7em, 2dvw, 1.7em);
    color: var(--background);
    border-radius: .3em;
    width: max-content;
    position: absolute;
    align-self: center;
    line-height: .2em;
    bottom: -2.5em;
    padding: .5em;
    margin: 20px;
    left: 0;
}

.download-description {
    font-size: clamp(1.3em, 2vw, 2em);
    line-height: clamp(2em, 2vw, 5em);
    margin-top: 2em;
}

.top {
    display: flex;
    width: 0;
    padding: 0;
    margin: 0;
    height: 0;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.571);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 1s ease;
    opacity: 1;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(5px);
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(30%, 2vw, 20%);
    height: 10px;
}

.loading-bar {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    font-family: "Quicksand", serif;
    transition: width 4s cubic-bezier(0.32, 0.75, 0, 0.99);
    justify-content: center;
    border-radius: .3em;
    line-height: 3em;
    font-size: clamp(1em, 2vw, 2em);
    color: white;
    display: flex;
    height: 100%;
    width: .3em;
}

